@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Ysabeau+Office:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

.body {
    font-family: 'Ysabeau Office', sans-serif;
    height: 100vh;
    background: linear-gradient(45deg, #00f3fc 33.33%, #c7ecee 33.33%, #c7ecee 66.66%, #00f3fc 66.66%);

}

.boarding-pass {
    position: relative;
    width: 320px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 4 rgba(0, 0, 0, 0.08));
}

.boarding-pass .cardTicket {
    display: flex;
    background-color: #ffffff;
    padding: 24px;
}

.boarding-pass .cardTicket.card-top {
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 16px 16px 0 0;
    box-shadow: rgba(75, 228, 255, 0.74) 0px 5px 15px;
}

.boarding-pass .cardTicket.card-top .code {
    font-size: 32px;
    font-weight: 900;
}

.boarding-pass .cardTicket.card-top .city {
    font-size: 10px;
    color: #48dbfb;
}

.flight-median {
    position: relative;
    height: 50px;
    width: 100px;
    top: 12px;
    border-radius: 100% 100% 0 0 / 180% 180% 0 0;
    border: 2px dashed transparent;
    border-top-color: #c7ecee;
}

.flight-median:before {
    content: '';
    position: absolute;
    height: 6px;
    width: 6px;
    top: 14px;
    left: 5px;
    background-color: #48dbfb;
    border-radius: 50%;
    box-shadow: 80px 0 0 #48dbfb;
}

.flight-median .i {
    position: relative;
    top: -11px;
    color: #48dbfb;
}

.boarding-pass .cardTicket.card-bottom {
    flex-direction: column;
    border-radius: 0 0 16px 16px;
    box-shadow: rgba(40, 192, 230, 0.479) 0px 60px 40px -7px;
}

.boarding-pass .cardTicket.card-bottom .card-row {
    display: flex;
    justify-content: space-between;
}

.boarding-pass .cardTicket.card-bottom .card-row:not(:last-child) {
    margin-bottom: 32px;
}

.boarding-pass .cardTicket.card-bottom .label {
    font-size: 10px;
    color: #0abde3;
}

.boarding-pass .cardTicket.card-bottom .content {
    font-size: 14px;
    font-weight: 900;
}

.median {
    height: 24px;
    margin: 0 auto;
    background-image: radial-gradient(circle, transparent 72%, #ffffff 72%),
        repeating-linear-gradient(90deg, #ffffff 0, #ffffff 2%, #c7ecee 2%, #c7ecee 4%),
        linear-gradient(#ffffff, #ffffff),
        radial-gradient(circle, transparent 72%, #ffffff 72%);
    background-size: 24px 24px, calc(100% - 24px) 1px, calc(100% - 24px) 100%, 24px;
    background-position: -12px 0, 12px 50%, 12px 0, calc(100% + 12px) 0;
    background-repeat: no-repeat;
}